<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Photo Galleries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- <ion-button color="secondary" expand="full">Camera</ion-button> -->
    <ion-button color="secondary" expand="full" (click)="addPhotoToGallery()">Camera</ion-button>
    <ion-button color="secondary" expand="full" (click)="startScan()">Barcode Reader</ion-button>
    <ion-button color="secondary" expand="full" (click)="sayHello()">Say Hello</ion-button>
  </div>
  
  <div class="" *ngIf="motionEvent">
    <h2>Motion</h2>
    <p>{{ motionEvent.acceleration.x }}</p>
    <p>{{ motionEvent.acceleration.y }}</p>
    <p>{{ motionEvent.acceleration.z }}</p>
  </div>
  <p>Barcode Result: {{ barcodeResult }}</p>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
